* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #8d69f2;
}

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 1.5em;
	position: relative;
	max-width: 450px;
	width: 100%;
	padding: 25px;
	border-radius: 15px;
	background-color: #ffffff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.preview-container {
	height: 225px;
	border-radius: 10px;
	background: #8d69f2;
}

.row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.4em;
}

.column label {
	font-size: 17px;
	font-weight: 500;
	color: #474747;
}

.options .select-container {
	padding: 10px 15px;
	border-radius: 10px;
	border: 1px solid #aaaaaa;
}

.select-container select {
	width: 100%;
	border: none;
	outline: none;
	font-size: 17px;
	color: #474747;
	background: transparent;
}

.colors {
	width: calc(100% / 2 - 15px);
}

.colors .pickers {
	display: flex;
	gap: 0.5em;
}

.colors input {
	height: 43px;
	width: calc(100% / 2 - 15px);
	appearance: none;
	border: none;
}

.colors input::-webkit-color-swatch {
	border-radius: 10px;
	border: none;
}

.wrapper textarea {
	width: 100%;
	padding: 10px 15px;
	border: 1px solid #aaaaaa;
	border-radius: 10px;
	font-size: 17px;
	resize: none;
	color: #474747;
}

.buttons button {
	width: 45%;
	padding: 14px 0;
	font-size: 17px;
	border-radius: 10px;
	color: #ffffff;
	border: none;
	outline: none;
	cursor: pointer;
	transition: background 0.3s ease;
}

.refresh-button {
	background-color: #717171;
}

.copy-button {
	background-color: #8d69f2;
}
